{% extends "web/base.html" %}
{% load static %}
<!-- HEAD -->
{% block mylink %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/detail-app.css' %}">
{% endblock %}


<!-- BODY -->
{% block main %}

  <!-- 主内容区域 -->
  <div class="page-detail app-detail">
    <div class="container">
      <!-- 面包屑 导航 -->
      <div class="ml-nav hidden-xs hidden-sm">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">首頁</a></li>
        
        </ol>
      </div>
     <!-- 面包屑 导航 E-->
    <!-- 产品购买 -->
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="preview">
          <!-- Tab panes -->
          <div class="tab-content preview-booth pt10">
            <div role="tabpanel" class="tab-pane active mod-pic" id="list-p1">
              <img  src="{% static 'goods/'|add:goods.picname %}" width="375" height="375"  class="sImg">

            </div>
            <div role="tabpanel" class="tab-pane mod-pic" id="list-p2">
              <img  src="{% static 'goods/'|add:goods.picname %}" width="375" height="375" class="sImg">
            </div>
            <div role="tabpanel" class="tab-pane mod-pic" id="list-p3">
              <img  src="{% static 'goods/'|add:goods.picname %}" width="375" height="375" class="sImg">
            </div>
          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs preview-thumb clearfix " role="tablist">
            <li role="presentation" class="active">
              <a href="#list-p1" aria-controls="list-p1" role="tab" data-toggle="tab">
                <img  src="{% static 'goods/'|add:goods.picname %}" style="display: inline;" width="75" height="75">
              </a>
            </li>
            <li role="presentation">
              <a href="#list-p2" aria-controls="list-p2" role="tab" data-toggle="tab">
                <img  src="{% static 'goods/'|add:goods.picname %}" style="display: inline;" width="75" height="75">
              </a>
            </li>
            <li role="presentation">
              <a href="#list-p3" aria-controls="list-p3" role="tab" data-toggle="tab">
                <img  src="{% static 'goods/'|add:goods.picname %}" style="display: inline;" width="75" height="75">
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 pt10">
        <div class="property hidden-xs hidden-sm" id="property">
             <div class="property-hd">
                   <h1>{{goods.goods|upper}}</h1>
                   <p class="mod-info active">{{goods.content|safe|truncatewords_html:50}} </p>
             </div>
             <div class="property-sell">
                 <dl class="property-sell-price clearfix">
                     <dt class="vm-metatit" id="J_discountTag">價<span class="s-space"></span><span class="s-space"></span>格：
                     </dt>
                     <dd>
                         <div class="mod-price">
                             <small>¥</small>
                             <span id="J_price" class="vm-money">{{goods.price}}</span>
                         </div>
                         <div class="mod-original" id="J_originalPrice" style="display:none;"></div>
                         <div class="mod-activity">
                         </div>
                         <div class="mod-countdown" id="J_discountCountDown" style="display:none;">
                         </div>
                     </dd>
                 </dl>
                 
             </div>
             <form name="mainForm" action="{% url 'cart_add' goods.id %}" method="POST">
              {% csrf_token %}
              <div class="property-buy">
                <p class="vm-message" id="J_message"></p>
                <dl class="property-buy-quantity">
                    <dt class="vm-metatit">數<span class="s-space"></span><span class="s-space"></span>量：</dt>
                    <dd class="clearfix">
                        <div class="mod-control">
                           <a title="减少" href="javascript:;" class="vm-minus disabled">-</a>
                           <input name='m' value="1" id="J_quantity" data-max="5" type="text">
                           <a title="增加" href="javascript:;" class="vm-plus">+</a>
                        </div>
                    </dd>
                </dl>
                <div class="property-buy-action">
                    <input type="submit" data-mtype="store_de_buy" id="J_btnBuy" class="btn btn-danger btn-lg mr20 hide" value='立即購買'>
                    <a  href="javascript:document.mainForm.submit();" id="J_btnAddCart" class="btn btn-primary btn-lg " style="display:inline-block;"><i></i>加入購物車</a>
                    <span class="vm-service" id="J_panicBuyingWrap"></span>
                </div>
              </div>
            </form>
         
        </div>   
    
  </div>
    <!-- 产品购买 -->
    </div>
    <!-- 漂浮的导航 -->
    <div class="detail-tab anim detail-fast-float" id="detailFast">
        <div class="fixed-container">
            <ul class="clearfix">
                <li class="">
                    <a href="javascript:void(0);">商品詳情</a>
                </li>
                <li class="">
                    <a href="javascript:void(0);">規格參數</a>
                </li>
                    <li class="current">
                        <a href="javascript:void(0);">常見問題</a>
                    </li>
            </ul>
            
            <div class="mod-title">

            </div>
        </div>
    </div><!-- 漂浮的导航 E-->
    <!-- 产品详情 -->
    <div class="row detail" id="detail">
      <div class="detail" style="height:62px;">
        <div class="detail-tab" id="detailFast">
          <div class="fixed-container">
            <ul class="clearfix" style="display: block;">
                <li class="current">
                    <a href="javascript:void(0);">商品詳情</a>
                </li>
                <li class="">
                    <a href="javascript:void(0);">規格參數</a>
                </li>
                <li class="">
                    <a  href="javascript:void(0);">常見問題</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="detail-content container">
          <div class="introduce current" id="introduce">
                {{goods.content|safe}}
              <!-- <img src="{% static 'web/img/mlx7.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx8.jpg' %}"  class="pc-detial-intr">
              <img src="{% static 'web/img/mlx9.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx10.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx11.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx12.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx13.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/mlx14.jpg' %}" class="pc-detial-intr">
              <img src="{% static 'web/img/app/m5.jpg' %}" class="app-detial-intr">
              <img src="{% static 'web/img/app/m8.jpg' %}" class="app-detial-intr">
              <img src="{% static 'web/img/app/m9.jpg' %}" class="app-detial-intr">
              <img src="{% static 'web/img/app/m6.jpg' %}" class="app-detial-intr"> -->
          </div>
          <!-- 移动端图片 -->

          <div class="standard" id="standard">
              <table class="standard-table">
                  <tbody>
                      暫無                 
                  </tbody>
              </table>
          </div>
          <div class="question" id="question">
            <div class="question-list hidden-xs hidden-sm">
                <h2>熱門回答</h2>
                    <dl class="mod-item">
                        <dt class="vm-question">
                            暫無
                        </dt>
                        <dd class="vm-answer">
                            暫無
                        </dd>
                    </dl>
                    
            </div>
            <div class="app-question-list">
                      
              </div>
          </div>
      </div>
    </div><!-- 产品详情 E-->

  </div>

{% endblock %}


<!-- FOOTER -->
{% block myjs %}
<script type="text/javascript">
  //nav标签
  detaNav();
  //移动端置顶
  appTopNav();
  //数量增加减少 
  addMin();
</script>
{% endblock%}
