{% extends "web/base.html" %}
{% load static %}
<!-- HEAD -->
{% block mylink %}
<!-- empty -->
{% endblock %}


<!-- BODY -->
{% block main %}
<!-- 主内容区域 -->
  <div class="mainbody">
  <!-- 热卖推荐 -->
  <div class="home-hot">
    <div class="container">
      <div id="carousel-example-generic2" class="carousel slide headhot-cont" data-ride="carousel">
          <div class="home-hot-header clearfix">
                  <div class="hhh-title">热品推荐  </div>
          </div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner home-hot-content" role="listbox">
            <ul class="item active clearfix home-hot-list">
            	<!-- 熱門商品5條 -->
            	{% for goods in goods_by_click %}
              <li class="home-product">
                <div class="">
                  <a href="{% url 'detail' goods.id %}"><img src="{% static 'goods/' %}{{goods.picname}}" class="home-product-img">
                  <div class="caption">
                    <h4 class="home-product-title">{{goods.goods}}</h4>
                    <p class="home-product-bottom">                                    
                      <span class="home-product-price">{{goods.price}}
                          <span class="home-product-start-tag"></span> 
                      </span>
                      <span class="home-product-price origin">{{goods.price|add:100}}</span>          
                    </p>
                    <div class="home-product-sign" style="background-color: #f59646;">冠军</div>
                  </div>
                  </a>
                </div>
              </li>
              {% endfor %}
              
            </ul>
            
        <!-- Controls -->
        
        
      </div>
    </div>
  </div>
 
    <!-- 楼层板块 -->
    <div class="home-floor">
      	<div class="container" >
        <!-- 手机楼层 -->
        {% for type in typelist_3 %}
        
        <div class="home-content phone card ">
          <div class="hd">
            <h2 class="mbf-title tit">{{type.name}}</h2>
          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs mbf-nav hidden-xs hidden-sm" role="tablist">
            <!-- <li role="presentation" class="active">
                  <a href="#phone1" aria-controls="phone1" role="tab" data-toggle="tab">热销机型</a>
            </li> -->
          </ul>
          
          <a class="mbf-more" href="{% url 'lists' %}?tid={{type.id}}" target="_self">更多&gt;</a>
          
          <!-- Tab panes -->
        
          <div class="tab-content home-floor-product">
            <div role="tabpanel" class="tab-pane active" id="phone1">
              <ul class="item active clearfix">
            {% for goods in goodslist %}
            {% if goods.typeid == type.id%}  

                <li class="home-product ">
                  <a href="{% url 'detail' goods.id %}">
                  <div class="">
                    <img src="{% static 'goods/' %}{{goods.picname}}" class="home-product-img">
                    <div class="caption">
                      <h4 class="home-product-title">{{goods.goods}}</h4>
                      <!-- <h6 class="home-product-subtitle red">
                             <span class="mb-hh-red">月销</span>  
                                 累计超2000本
                      </h6> -->
                      <p class="home-product-bottom">
                        <span class="home-product-price">{{goods.price}}
                           <!-- <span class="home-product-start-tag">起</span> -->
                        </span>
                    </p>
                   </div>
                  </div>
                  </a>
                </li>
              {% endif %}
              {% endfor %}
              </ul>
              <br>
            </div>
          </div>
         </div>  
        {% endfor %}
       </div>
    </div>

{% endblock %}


<!-- FOOTER -->
{% block myjs %}
<script type="text/javascript">
	//leftNav();
	leftNav();
</script>
{% endblock%}