{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title> 帳號登入</title>
       <link href="{% static 'web/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static 'web/img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'web/js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <!-- 兼任ie9以下 -->
    <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/register.css' %}">
    <script type="text/javascript" src="{% static 'web/js/rem.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/topNav.js' %}"></script>

</head>
<body>
  <!-- 导航 --> 
  <div class="layout-header hidden-xs hidden-sm" id="scroll-wrap">
    <nav class="navbar navbar-default header ">
      <div class="container clearfix">
          <div class="layout-header-logo navbar-left">
            <a target="_self" href="{% url 'index' %}" class="layout-header-logo-link" alt="BOOKER">
              <H3>E-BOOKER</H3>
            </a>
          </div>      
      </div>
    </nav>
  </div><!-- 导航 E--> 

  <!-- 主内容区域 -->
  <div id="content" class="content">  
    <div class="container-fluid"> 
    <div class="">
      <div class="container">
        <form id="mainForm" name="mainForm" action="{% url 'myinfo' %}" method="post" class="main-form">
          {% csrf_token %}
          <div class="tab-title">
            <a class="linkAGray" id="toAccountLogin" href="javascript:void(0);">帳號註冊</a>
          </div><br/>
          {% if info %}
          <div class="tip-box">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              <span class="tip-font">{{info}}</span>
              <span aria-hidden="true" class="cha">&times;</span>
            </button>
          </div>
          {% endif %}
          <div class="normalInput cycode-box fieldInput" id="cycode-box">
            <div class="cycode-selectbox">
              <input class="ipt-account inp-focus" name="" id="account" maxlength="50" placeholder="{{ ob.username }}" disabled autocomplete="off">
              <input type='hidden' name="username" value="{{ ob.username }}">
            </div>
          </div>
          真實姓名：
          <div class="normalInput  ">
            <input type="text"  name="name" id="name" maxlength="16"  placeholder="{% if ob.name %}{{ob.name}}{% else %}姓名{% endif %}"  />
          </div>
          <div class="control-group">
            <input type="radio" name="sex" class="input-xlarge" id="input01" value="1"{% if ob.sex == 1 %}checked{% endif %} /> 男
            <input type="radio" name="sex" class="input-xlarge" id="input01" value="0"{% if ob.sex == 0 %}checked{% endif %} /> 女
          </div>
          地址：
          <div class="normalInput fieldInput ">
            <input class="inp-focus" name="address" id="address" maxlength="16"  autocomplete="off" placeholder="{% if ob.address %}{{ob.address}}{% else %}地址{% endif %}" />
          </div>
          电话：
          <div class="normalInput fieldInput ">
            <input class="inp-focus" name="phone" id="phone" maxlength="16"  autocomplete="off" placeholder="{% if ob.phone %}{{ob.phone}}{% else %}電話{% endif %}" />
          </div>
          email邮箱：
           <div class="normalInput fieldInput ">
            <input class="inp-focus" name="email" id="email" maxlength="16"  autocomplete="off" placeholder="{% if ob.email %}123{% else %}email@..{% endif %}" />
          </div>
          登录密码：
          <div class="normalInput fieldInput ">
            <input class="inp-focus" name="password" id="password" maxlength="16"  autocomplete="off" placeholder="登录密码" type="password"/>
           </div>
          

           <a id="register" href="javascript:document.mainForm.submit();" class="fullBtnBlue">完成更新</a>
          
           
          </div>
        </form>

      </div>
    </div>
      

    </div>
  </div>
  <!-- 主内容区域  E-->
      <!-- 底部区域 -->
 <footer class="layout-footer  hidden-xs hidden-sm">
    <div class="container">
        <div class="layout-footer-top clearfix">
            <ul class="layout-footer-services clearfix">
                <li class="layout-footer-services-item">
                  
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-sd-video"></i></span>
                    <span class="layout-footer-services-text">郵政包郵</span>
                  
                </li>
                <li class="layout-footer-services-item">
                  
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-flash"></i></span>
                    <span class="layout-footer-services-text">次日送達</span>
                  
                </li>
                <li class="layout-footer-services-item">
                  
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-repeat"></i></span>
                    <span class="layout-footer-services-text">7 天無理由退貨</span>
                  
                </li>
                <li class="layout-footer-services-item">
                  
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <span class="layout-footer-services-text">100+ 實體店面</span>
                  
                </li>
            </ul>
              <div class="layout-footer-contact">
                    <p class="layout-footer-contact-desc">24小時全國服務熱線</p>
                    <a href="tel:0800-123-456" class="layout-footer-contact-tel">0800-123-456</a>
                    <p>
                          <a href="javascript:void(0);" class="layout-footer-contact-online">
                                <i class="layout-font layout-font-talk1"></i><span class="text">在線客服(未開放)</span>
                          </a>
                    </p>
              </div>
        </div>
        <div class="layout-footer-bottom clearfix">
            <ul class="layout-footer-interlock clearfix">
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link">了解布殼</p>
                </li>
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link" >加入我们</p>
                </li>
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link" >联系我们</p>
                </li>
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link">布殼社区</p>
                </li>
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link">天猫旗舰店</p>
                </li>
                <li class="layout-footer-interlock-item">
                    <p class="layout-footer-interlock-link" >问题反馈</p>
                </li>
                
            </ul>
            <div class="layout-footer-copyright clearfix">
                    <span class="layout-footer-copyright-left">
                          <a class="layout-footer-copyright-link copyright-text">&copy;2019 Booker Co., Ltd. All rights reserved.</a>
                          <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                            <i class="layout-icon layout-icon-license"></i>
                          </a>
                          <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                            <i class="layout-icon layout-icon-wel"></i>
                          </a>
                          <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                              <i class="layout-icon layout-icon-trust"></i>
                          </a>
                     </span>
                    <ul class="layout-footer-media clearfix">
                          <li class="layout-footer-media-item">
                                <a href="#" class="layout-footer-media-link">
                                      <i class="layout-font layout-font-weibo"></i>
                                </a>
                              </li>
                                  <li class="layout-footer-media-item">
                                <a href="javascript:void(0);" class="layout-footer-media-link wechat">
                                      <i class="layout-font layout-font-wechat"></i>
                                      <!-- <div class="layout-footer-media-wechat-qrcode">
                                        <img class="layout-footer-media-wechat-img" src="" alt="微信二维码">
                                      </div> -->
                                </a>
                          </li>
                          <li class="layout-footer-media-item">
                                <a href="#" class="layout-footer-media-link">
                                      <i class="layout-font layout-font-qzone"></i>
                                </a>
                          </li>
                    </ul>
            </div>
        </div>
    </div>
  </footer><!-- 底部区域 E -->

<script type="text/javascript">
  //
  nLogin();
</script>
</body>
</html>